* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #232323;
    margin: 0;
    font-family: 'Exo', sans-serif;
}

h1 {
    color: #ffffff;
    background-color: #4682b4;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
    padding: 10px 0px;
    -moz-transition: background-color 400ms;
    -webkit-transition: background-color 400ms;
    transition: background-color 250ms;
}

#resultDisplay {
    display: inline-block;
    width: 20%;
    min-height: 14px;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
}

#colorDisplay {
    text-transform: uppercase;
    display: block;
    font-size: 4rem;
}

@media screen and (max-width: 1000px) {
    #colorDisplay {
        display: block;
        font-size: 3rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    #colorDisplay {
        display: block;
        font-size: 2rem;
    }

    h1 {
        font-size: 1rem;
    }

    #resultDisplay {
        width: 100%;
    }
}

table {
    margin: 20px auto;
    width: 50%;
}

@media screen and (max-width: 1000px) {
    table {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    table {
        width: 95%;
    }
}

td {
    padding: 10px;
    width: 33.3%;
}

.square {
    height: 75px;
    margin: 0 auto;
    background-color: #232323;
    padding-bottom: 30%;
    border-radius: 8px;
    -moz-transition: background-color 400ms;
    -webkit-transition: background-color 400ms;
    transition: background-color 400ms;

}

#stripe {
    background: #ffffff;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

#stripe button,
#stripe span {
    height: 100%;
    padding: 0.5rem;
}

.active {
    background: steelblue;
    pointer-events: none;
    color: white;
}

.restrictedSquare {
    display: none;
    /* transition: all 250ms; */
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    padding: 2px;
    margin: 0 7px;
    -moz-transition: all 250ms;
    -webkit-transition: all 250ms;
    transition: all 250ms;
    outline: none;
    border-radius: 2px;
    width: 75px;
}

#reset {
    width: 150px;
    margin-right: 50px;
}

button:hover {
    color: white;
    background: steelblue;
}

@media screen and (max-width: 1000px) {
    #stripe {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 720px) {
    #stripe {
        flex-direction: column;
        align-items: center;
    }

    #stripe button:hover {
        background-color: transparent;
        color: #4682b4;
    }

    #stripe button:active {
        color: white;
        background: steelblue;
    }

    #reset {
        margin-right: 0;
    }
}


.scoreDisplay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1rem;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heathDisplay {
    position: absolute;
    background-color: transparent;
    bottom: 5%;
    left: 5%;
}

@media screen and (min-width: 2500px) {
    .heathDisplay {
        top: 5vh;
    }
}

.heathDisplay ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.healthIndicator {
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    list-style: none;
}

.gameStatScreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90vw;
    height: 90vh;
    margin: auto;
    background-color: rgba(196, 196, 196, 0.8);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
}

.gameStatScreen p {
    font-size: 1rem;
}

.noDisplay {
    display: none;
}